# python cache
__pycache__



# pre-modification backups of code files (never commit)
backup_pre_reweight/

# auxiliaries
assets/
notebooks/
submission/

# results and logs
results/
src/result/
*.log

# exclude third-party dependencies
src/tools/SoM/
src/tools/tiny-cuda-nn/
# src/model/**
# !src/model/*
# src/model/*/
src/model/*/

# macos stuff
.DS_Store

.vscode/
.cursor/
.cursor*
.claude/
CLAUDE.md